<div class="col-12 col-md-12">
    <div class="margin-global">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
                <li class="breadcrumb-item"><a routerLink="/movfin">Listagem</a></li>
                <li class="breadcrumb-item active" aria-current="page">Movimento Financeiro</li>
            </ol>
        </nav>
        <hr>
        <div class="col-12 col-md-12 mt-5">
            <form [formGroup]="movFinForm">
                <div style="margin-top: -30px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="escolherOperacao()" id="inlineRadio1" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Entradas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" (click)="escolherOperacao()" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Saidas</label>
                    </div>
                </div>
                <div class="row col-md-12 mt-4">
                    <div class="form-group col-md-1">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" id="id" formControlName="id" readonly />
                    </div>
                    @if(idFin){
                    <div class="form-group col-md-5">
                        <label for="descricaoReceita">Descrição da Receita:</label>
                        <select id="descricaoReceita" class="form-select" formControlName="descricaoReceitaId">
                            <option value="">Selecione</option>
                            @for( select of descricaoReceitas; track select.id){
                            <option [value]="select.id">{{ select.descricao }}</option>
                            }
                        </select>
                    </div>
                    }
                    @if(!idFin){
                    <div class="form-group col-md-5">
                        <label for="descricaoDespesa">Descrição da Despesa:</label>
                        <select id="descricaoDespesa" class="form-select" formControlName="descricaoDespesaId">
                            <option value="">Selecione</option>
                            @for( select of descricaoDespesas; track select.id){
                            <option [value]="select.id">{{ select.descricao }}</option>
                            }
                        </select>
                    </div>
                    }
                    <div class="form-group col-md-2">
                        <label for="periodoId">Periodo:</label>
                        <select id="periodoId" class="form-select" formControlName="periodoId">
                            <option value="">Selecione</option>
                            @for( select of periodos; track select.id){
                            <option [value]="select.id">{{ select.mesAno }}</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numeroDocumento">Número do Documento:</label>
                        <input type="text" class="form-control" id="numeroDocumento"
                            formControlName="numeroDocumento" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valor">Valor:</label>
                        <input style="text-align: right;" type="number" class="form-control" id="valor"
                            formControlName="valor" />
                    </div>
                </div>
                <div class="row col-md-12 mt-3">
                    @if(idFin){
                    <div class="form-group col-md-2">
                        <label for="dataReceita">Data da Receita:</label>
                        <input type="date" class="form-control" id="dataReceita" formControlName="dataReceita" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataRecebimento">Data da Recebimento:</label>
                        <input type="date" class="form-control" id="dataRecebimento"
                            formControlName="dataRecebimento" />
                    </div>
                        <div class="form-group col-md-2">
                            <label for="statusRecebimento">Status do Recebimento:</label>
                            <select id="statusRecebimento" class="form-select" formControlName="statusRecebimento">
                                <option value="">Selecione</option>
                                <option>Em Aberto</option>
                                <option>Programado</option>
                                <option>Pago</option>
                            </select>
                        </div>
                    }

                    @if(!idFin){
                    <div class="form-group col-md-2">
                        <label for="dataDespesa">Data da Despesa:</label>
                        <input type="date" class="form-control" id="dataDespesa" formControlName="dataDespesa" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataPagamento">Data do Pagamento:</label>
                        <input type="date" class="form-control" id="dataPagamento" formControlName="dataPagamento" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="statusPagamento">Status do Pagamento:</label>
                        <select id="statusPagamento" class="form-select" formControlName="statusPagamento">
                            <option value="">Selecione</option>
                            <option>Programado</option>
                            <option>Aguardando</option>
                            <option>Pago</option>
                        </select>
                    </div>
                    }
                    <div class="form-group col-md-6">
                        <label for="observacao">Observação:</label>
                        <input type="text" class="form-control" id="observacao" formControlName="observacao" />
                    </div>
                </div>
                <div class="row col-md-12 mt-3">
                    @if(idFin){
                    <div class="form-group col-md-3">
                        <label for="formaRecebimento">Forma do Recebimento:</label>
                        <select id="formaRecebimento" class="form-select" formControlName="formaRecebimento">
                            <option value="">Selecione</option>
                            <option>à Vista</option>
                            <option>à Prazo</option>
                            <option>Parcelado</option>
                            <option>à Prazo com Juros</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="tipoRecebimento">Tipo de Recebimento:</label>
                        <select id="tipoRecebimento" class="form-select" formControlName="tipoRecebimento">
                            <option value="">Selecione</option>
                            <option>Dinheiro</option>
                            <option>Pix</option>
                            <option>Transferência</option>
                            <option>Cartão de Crédito</option>
                            <option>Cartão de Débito</option>
                        </select>
                    </div>
                    }

                    @if(!idFin){
                    <div class="form-group col-md-3">
                        <label for="formaPagamento">Forma do Pagamento:</label>
                        <select id="formaPagamento" class="form-select" formControlName="formaPagamento">
                            <option value="">Selecione</option>
                            <option>à Vista</option>
                            <option>à Prazo</option>
                            <option>Parcelado</option>
                            <option>à Prazo com Juros</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="tipoPagamento">Tipo de Pagamento:</label>
                        <select id="tipoPagamento" class="form-select" formControlName="tipoPagamento">
                            <option value="">Selecione</option>
                            <option>Dinheiro</option>
                            <option>Pix</option>
                            <option>Transferência</option>
                            <option>Cartão de Crédito</option>
                            <option>Cartão de Débito</option>
                        </select>
                    </div>
                    }
                    <div class="form-group col-md-6" style="margin-bottom: 50px;">
                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-success btn-gravar" type="button"
                                (click)="salvarMovimentoFinanceiro()">Registrar Movimento Financeiro</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr style="margin-top: -15px;">
        <div class="row col-12 col-md-12" style="margin-top: -15px; margin-bottom: 80px;">
            <div class="col-12 col-md-6">
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-warning" type="button" routerLink="/movfin">Voltar</button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-success" type="button" (click)="novoRegistro()">Novo Registro</button>
                </div>
            </div>
        </div>
    </div>